<f:be.container
        pageTitle="Statistics and more"
        includeRequireJsModules="{  0: '{f:uri.resource(path: \'JavaScript/MyMagicModule.js\', extensionName: \'t3_stats\')}'}"
        includeCssFiles="{0: '{f:uri.resource(path:\'Css/styles.css\', extensionName: \'t3_stats\')}'}">
    <div class="module">
        <div class="module-loading-indicator"></div>
        <div class="module-docheader t3js-module-docheader">
            <f:render section="headline" />
        </div>
        <div class="module-body t3js-module-body">
            <f:render section="content" />
        </div>
    </div>
</f:be.container>

