{namespace be = TYPO3\CMS\Backend\ViewHelpers}
{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}
{namespace core = TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Default" />

<f:section name="headline">
</f:section>

<f:section name="content">
    <h1>Statistics</h1>
    <f:be.infobox title="Hinweis" state="-1" iconName="info">
        Die aktuellen Auswertungen sind noch ohne Grafiken und nur in tabellarischer Form einzusehen. Die Daten werden direkt beim
        Seitenaufruf erhoben und <strong>nicht an Dritte weitergegeben</strong>. Der Auswertungszeitraum beträgt maximal 30 Tage rückwirkend.
    </f:be.infobox>
    <div class="table-fit">
        <table id="t3stats-table" class="table table-striped table-hover">
            <thead>
            <tr>
                <th class="first ">
                    date
                </th>
                <th class="">
                    hits
                </th>
                <th style="width: 60px;">
                    &nbsp;
                </th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{logArray}" as="logRow">
                <tr>
                    <td class="">{logRow.hdate}</td>
                    <td class="">{logRow.hits}</td>
                    <td class="">
                        <f:link.action action="show" arguments="{dateId: logRow.date_id, hdate: logRow.hdate}">
                            show
                        </f:link.action>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</f:section>
