{namespace be = TYPO3\CMS\Backend\ViewHelpers}
{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}
{namespace core = TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Default" />

<f:section name="headline">
</f:section>

<f:section name="content">
    <h1><f:format.raw>{arguments.hdate}</f:format.raw></h1>
    <div class="table-fit">
        <table id="t3stats-table" class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th class="first">
                    time
                </th>
                <th class="">
                    ident
                </th>
                <th class="">
                    browser
                </th>
                <th class="">
                    mobile
                </th>
                <th class="">
                    path
                </th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{logArray}" as="logRow">
                <tr>
                    <td class="">{logRow.htime}</td>
                    <td class="" title="{logRow.remote}">{logRow.hash}</td>
                    <td class="" title="{logRow.user_agent}">{logRow.browser}</td>
                    <td class="">{logRow.mobile}</td>
                    <td class=""><i class="text-light">{logRow.host}</i>{logRow.path}</td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</f:section>